/node_modules
/public/hot
#/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
responses/
/resources/views/test
.buildpath
.project
.settings/
public/css/app.css
public/css/auth.css
public/js/*
public/vendors~js/*
/resources/views/dummy/
nbproject/
.DS_Store
public/.DS_Store
public/images/.DS_Store
public/images/integration/.DS_Store
public/images/integration/bookingautomation/.DS_Store
public/fonts/*
public/fonts/vendor/@fortawesome/*
