include _includes.pug
include _components.pug

doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width' initial-scale='1' shrink-to-fit='no')
		link(rel='shortcut icon' type='image/png' href='img/favicon.png')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		// Bootstrap CSS
		
		link(rel='stylesheet', href='css/bootstrap-theme.css')
	
		block style
		link(rel='stylesheet', href='css/style.css')
		title
			block title
	body.body-mobile-light
		block content
		
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
		
		script.
			let vh = window.innerHeight * 0.01;
			document.documentElement.style.setProperty('--vh', `${vh}px`);
		
		script.
			$('.chat-open').on('click', function() {
				var target = $(this).attr('data-target'); 
				$(target).toggleClass('chat-visible');  
			});
		script.
			$('.chat-dismiss').on('click', function() {
				$(this).parent().removeClass('chat-visible');
			});

		
		
		
		
		
		
		
		
