extends _main4.pug

block title
	| Pre-Check-In - Arrival
	
block style	

block content
	// Chat
	+chat
			

	.guest-portal
		+gp-header
			
		//Guest Portal
		.gp-page.gp-min
			.gp-title.mb-2
				.language-select.dropdown.dropdown-sm
					button#dropdownMenuButton.btn.btn-sm.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						span.flag-emoji 🇬🇧
						|  English
					.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
						a.dropdown-item(href='#')
							span.flag-emoji 🇫🇷
							|  French
						a.dropdown-item(href='#')
							span.flag-emoji 🇪🇸
							|  Spanish
				h1.page-title Pre-Check-In

			.gp-box
				.gp-box-steps.gp-progress
					a.gp-step.step-completed(href='pre-checkin-02.html') 1.
						span Basic Info
						span.step-check
							i.fas.fa-check
					a.gp-step.active(href='pre-checkin-03.html') 2.
						span Arrival
						span.step-check
							i.fas.fa-check
					a.gp-step(href='pre-checkin-04.html') 3.
						span Verification
						span.step-check
							i.fas.fa-check
					a.gp-step(href='pre-checkin-05.html') 4.
						span Credit Card
						span.step-check
							i.fas.fa-check

				.gp-box-content
					.gp-inset
						form
							.form-group
								label(for='guestArrivalMethod') Arriving to Paris by:
								select.custom-select#guestArrivalMethod
									option Plane
									option Bus
									option Train
							.form-group
								label(for='flightNumber') Flight #:
								input.form-control#flightNumber(type='text' placeholder='Flight number')
							.form-group
								label(for='arrivalTime') Estimated Arrival Time:
								.input-group
									input#arrivalTime.form-control(type='text' value='00:00' style='flex-grow:3;')
									select.custom-select.bg-light(style='flex-grow:1;')
										option(selected) AM
										option PM
									
									
									
			.gp-divider
	.gp-footer
		a.btn.btn-secondary.btn-back(href='pre-checkin-02.html')
			i.fas.fa-arrow-left
		a.btn.btn-success.btn-confirm(href='pre-checkin-04.html') Save & Continue  
			i.fas.fa-arrow-right